body {
    background: radial-gradient(circle at center, #D3D3D3, #B0C4DE);
    position: relative;
}


.grid {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: auto 65px;
    gap: 8px;
    align-items: center;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 530px;
    height: 415px;
    background-color: #000080;
    border-radius: 10px;
    border-width: 6px;
    border: 8px outset #00008B;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 15vh;
    left: 30vw;
}

#zero, #equals {
    grid-column-end: span 2;
}

#equals {
    background-color: #339966;
}

#zero, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #decimal {
    background-color: #696969;
}

#add, #subtract, #multiply, #divide {
    background-color: #4682B4;
}

#clear, #delete {
    background-color: #990000;
}

#display {
    grid-column-end: span 4;
}

.calculator-title {
    grid-column-end: span 4;
    color: #FFFFFF;
    font-size: 36px;
    justify-content: center;
    text-align: center;
    -webkit-text-stroke: 1px #000000;
}

button {
    background-color: #A9A9A9;
    border-radius: 5px;
    height: 45px;
    color: #FFFFFF;
    font-size: 26px;
    font-family: monospace;
    -webkit-text-stroke: 0.5px #000000;
}

.pressed-button {
    filter: brightness(0.8);
    transform: translate(1.5px, 1.5px);
}

.screen {
    background-color: #99CC99;
    color: #000000;
    padding: 2px;
    font-size: 26px;
    font-family: 'alarm clock', sans-serif;
    text-align: right;
    height: 26px;
    border-radius: 3.5px;
    border: 2.5px inset #A9A9A9;
}