  body {
    background-color: dimgray;
    /*background: radial-gradient(circle at center, slateblue, mediumslateblue);
    */
    color: white;
  }

  #drum-machine {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 0.45vw;
  }

  #main-title {
    grid-row: 1;
    grid-column: 1 / span 3;
  }

  #sequencer-part {
    grid-row: 2;
    grid-column: 1 / span 3;
  }

  #drum-part {
    grid-row: 3 / span 5;
    grid-column: 1;
  }
  
  #note-part {
    grid-row: 3;
    grid-column: 2;
  }

  #status-part {
    grid-row: 3;
    grid-column: 3;
  }

  #set-kit-part {
    grid-row: 4;
    grid-column: 2;
  }

  #set-remix-part {
    grid-row: 4;
    grid-column: 3;
  }

  #set-volume-part {
    grid-row: 5;
    grid-column: 2;
  }

  #set-speed-part {
    grid-row: 5;
    grid-column: 3;
  }

  #power-part {
    grid-row: 6;
    grid-column: 2 / span 2;
  }

  button {
    color: teal;
    border-color: teal;
    background: linear-gradient(135deg, mediumturquoise, darkcyan);
    border-width: 5px;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    position: relative;
  }

  button:active {
    color: mediumseagreen;
    border-color: mediumseagreen;
    background: linear-gradient(135deg, mediumspringgreen, mediumseagreen);
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
    transform: translate(3px, 3px);
  }

  .pressed-button {
    color: mediumseagreen;
    border-color: mediumseagreen;
    background: linear-gradient(135deg, mediumspringgreen, mediumseagreen);
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
    transform: translate(3px, 3px);
  }

  .played-button {
    color: mediumorchid;
    border-color: mediumorchid;
    background: linear-gradient(135deg, plum, orchid);
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
    transform: translate(3px, 3px);
  }

  .Pad {
    margin: 0px;
    width: 0px;
  }

  .drum-grid {
    display: grid;
    grid-template-columns: repeat(3, 135px);
    grid-gap: 12.5px;
  }

  .drum-grid button {
    font-size: 2rem;
    height: 135px;
  }

  #drum-machine {
    border: 10px ridge darkslateblue;
    padding: 1em;
    background: linear-gradient(135deg, mediumslateblue, slateblue);
    width: 90vw;
    height: 120vh;
  }

  #set-remix-buttons {
    display: grid;
    grid-template-columns: repeat(3, 115px);
    grid-gap: 7.5px;
  }

  #set-remix-buttons button {
    font-size: 1.5rem;
    height: 40px;
  }

  #set-kit-buttons, #set-volume-buttons, #set-speed-buttons {
    display: grid;
    grid-template-columns: repeat(2, 175px);
    grid-gap: 10px;
  }

  #set-kit-buttons button, #set-volume-buttons button, #set-speed-buttons button {
    font-size: 1.5rem;
    height: 40px;
  }

  #power-button {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 10px;
  }

  #power-button button {
    font-size: 1.5rem;
    height: 45px;
  }

  #set-kit-part, #set-remix-part, #set-volume-part, #set-speed-part {
    width: 360px;
  }

  #power-part {
    width: 750px;
  }

  #main-title, #sequencer-title, #drum-title, #note-title, #status-title, #set-remix-title, #set-kit-title, #set-volume-title, #set-speed-title, #power-title {
    align-items: center;
    text-align: center;
    width: 100%;
    font-family: "Gill Sans", sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 0.25em;
  }

  #status-display, #kit-display, #note-display {
    color: mediumorchid;
  }

  #status-title, #kit-title, #note-title {
    color: plum;
  }

  #set-remix-title, #set-kit-title, #set-volume-title, #set-speed-title {
    color: deepskyblue;
  }

  #set-remix-display, #set-kit-display, #set-volume-display, #set-speed-display {
    color: dodgerblue;
  }

  #main-title {
    color: deeppink;
  }

  #drum-title, #sequencer-title, #power-title {
    color: mediumspringgreen;
  }

  #main-title {
    font-size: 34px;
  }

  #sequencer-title, #drum-title, #note-title, #status-title, #set-remix-title, #set-kit-title, #set-volume-title, #set-speed-title, #power-title {
    font-size: 24px;
  }

  #status-display, #note-display, #set-remix-display, #set-kit-display, #set-volume-display, #set-speed-display {
    background-color: black;
    height: 25px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
    border: 2px inset darkslateblue;
    margin-bottom: 0.25em;
  }

  #status-display, #note-display, #set-kit-display,  #set-remix-display, #set-volume-display, #set-speed-display {
    width: 360px;
  }

  #display {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
  }

  #sequencer-display {
    background-color: black;
    width: 25px;
    height: 25px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
    border: 2px inset darkslateblue;
    margin: auto;
    margin-bottom: 0.25em;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: darkslateblue;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: mediumorchid;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }